@using ChairElections.Models;
@*model IEnumerable<ChairNomination>*@
@model IEnumerable<ChairElections.Models.NominationViewModel>

@{
    ViewData["Title"] = "Chair Nominations";
}

<h2>Chair Nominations</h2>

<p>
    <a asp-action="Create" asp-controller="ChairNomination" class="btn btn-primary">Create New Nomination</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th colspan="2">Name</th>
            <th>Total</th>
            <th>Same Party</th>
            <th>Other Party</th>
             <th>Actions</th> 
        </tr>
    </thead>
    <tbody>
@foreach (var group in Model.GroupBy(n => n.CommitteeId))
{
    var committee = group.First();

    <tr class="table-primary">
        <td colspan="6"><strong>@committee.CommitteeName</strong></td>
    </tr>

    @foreach (var nominee in group.GroupBy(n => n.NomineeId))
    {
        var nomParty = nominee.Count(x=> x.NominatedParty.Contains(x.NominateeParty));
        var nomOtherParty = nominee.Count(x=> x.NominateeParty != x.NominatedParty);
        var nomineeInfo = nominee.First();
        var totalVotes = nominee.Count();
        var labourVotes = nominee.Count(v => v.NominatedParty.Contains("Labour"));
        var collapseId = $"votes-{nomineeInfo.NomineeId}-{committee.CommitteeId}";

        <tr class="table-secondary">
            <td colspan="2">@nomineeInfo.NomineeName (@(nomineeInfo.NominateeParty))
                <p class="tiny">@nomineeInfo.RegisteredInterest</p>
            </td>
            <td> @totalVotes</td>
            <td> @nomParty</td>
            <td> @nomOtherParty</td>
            <td>
                <button class="btn btn-sm btn-outline-info" type="button" data-bs-toggle="collapse" data-bs-target="#@collapseId">
                    Show Votes
                </button>

<a asp-controller="ChairNomination"
   asp-action="RegisterInterests"
   asp-route-MemberId="@nomineeInfo.NomineeId"
   asp-route-CommitteeId="@committee.CommitteeId"
   class="btn btn-sm btn-outline-info">
   Add Interest
</a>

            </td>
        </tr>

        <tbody id="@collapseId" class="collapse">
            @foreach (var vote in nominee)
            {
                @*@(nomineeInfo.RegisteredInterest !=null ? Html.Raw("<br /><div style='font-size: 50%;'>"+nomineeInfo.RegisteredInterest+"</div>") : "")*@
                <tr>
                    <td colspan="2">
                        @(vote.NominatedByName)

                        @(string.IsNullOrEmpty(vote.VoteRegisteredInterest) ? "" : Html.Raw("<p class='tiny'>"+vote.VoteRegisteredInterest+"</p>"))
                    </td>

                    <td>@(vote.NominatedParty)</td>
                    <td colspan="2">@(vote.NominationDate)</td>
                    <td>
                       <a asp-action="Delete" asp-controller="ChairNomination" asp-route-id="@vote.Id" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    }
}
    </tbody>
</table>
<style>
    .tiny {
        font-size: xx-small;
    }
    </style>