@model IEnumerable<ChairElections.Models.Committee>

<h2>Committees</h2>
<a asp-action="Create" asp-controller="Committee" class="btn btn-primary">Create New</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Date Modified</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name @(item.AssignedParty != string.Empty ? "(" + item.AssignedParty + ")": "(n/a)")</td>
            <td>@item.Status</td>
            <td>@item.DateModified.ToShortDateString()</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>